.App {
  text-align: center;
}

.controllerTitle {
  padding-right: 3px;
  color: white;
}

.websiteTitle {
  color: #DF7857;
}

.navigator {
  display: inline;
  margin: auto;
}

.navItem {
  display: inline;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  color: #EDE9D5;
}

.header {
  margin: auto;
  padding:1rem;
  background-color: #617143;
}